<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap gives us some nice components to work with -->
  <script src="/lib/bootstrap/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">

  <link rel="stylesheet" href="/common.css">
  <title>filebin - {{ filename }} ({{ id }})</title>
</head>
<body>
  <h1 class="title"><a href="/" style="color:black">filebin</a> - {{ filename }}</h1>

  <div class="buttons">
    {{#if shouldPreview}}
    <a href="{{ img }}"><button type="button" class="btn btn-primary">Preview</button></a>
    {{/if}}

    <a href="{{ img }}" download><button type="button" class="btn btn-primary">Download</button></a>
  </div>

  {{#if shouldPreview}}
  <iframe src="{{ img }}"></iframe>
  {{/if}}

  <style>
    .imgContainer {
      height: 70%;
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .buttons {
      margin: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
    
    iframe {
      height: 100%;
      border: solid 1px gray;
      background: #333333;
    }
  </style>
</body>
</html>